html{
    scroll-behavior: smooth;
}

.head-h1{
    margin-left: 10px;
    color: #fff;
    background-color: #e2000f;
    width: 1310px;
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 450px;
    height: 70px;
    
}
.top{
    background-color: #e2000f;
    display: flex;
    width:1920px;
    
}


.head-logo img{
    width:130px;
    height: 70px;   
}

body{
    margin:0;
    padding:0;
    background-color: #fff ;
    /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
    
        
}
  
/* Radio Button */
/*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}*/

/*
.slider{
    position: relative;
    width:1920px;
    height:1080px;
    overflow: hidden;
    margin-top: 30px;
    border-radius: 2px;
    /* border: solid 5px #c22001; 

}*/
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
/*
.images{
    display: flex;
    width: 100%;
}

.images img{
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
    margin-right: 230px;
}

.images input{
    display: none;
}

.dots{
    display: flex;
    justify-content: centre;
    margin: 25px;
    margin-left: 800px;
}

.dots label{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: solid black;
    cursor:pointer;
    transition: all 0.15s ease;
    margin-left:20px;
    /* padding-left: 50px; */
/*}*/
/*
.dots label:hover{
    background-color:#fff;
}

#img1:checked ~ .m1{
    margin-left:0%;
}

#img2:checked ~ .m2{
    margin-left:-100%;
}

#img3:checked ~ .m3{
    margin-left:-300%;
}
*/
/* #img4:checked ~ .m4{
    margin-left:-300%;
} */


/* GS-Towers *//*
.section2 h1{
    margin-left: 10px;
    padding-left: 630px;
    color: white;
    background-color:#e2000f;
    width:1450px;
    height: 50px;
}
  
.top5{
    width:100%;
    height:auto;
    display: flex;
    margin-left: 160px;
    margin-top: 10px;
}
.top5 img:hover{
    scale: 1.2;
}

.top4 img:hover{
    scale: 1.2;
}

.top4{
    width:100%;
    height:auto;
    display: flex;
    margin-left: 260px;
    margin-top: 10px;
}

.sqbox img{
    width:215px;
    height: 240px;
    background-color: #fff;
    margin:1px;
    
}

.sqbox p{
    background-color: #e2000f;
    width: 200px;
    height: 30px;
    color: #fff;
    font-weight:bolder;
    font-size:larger;
    padding-left: 30px;
    padding-top: 3px;
    align-items: center;
   transform: translate(4%,-150%);
}

/* Moving effect of tower leads *//*
.fluid{
    height:auto;
    max-width: 100%;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}
*/

